flask==2.3.3
requests==2.31.0
beautifulsoup4==4.12.2
nltk==3.8.1
PyQt6==6.5.0
lxml==4.9.3
python-dotenv==1.0.0
spacy==3.7.2
sv-core-news-sm @ https://huggingface.co/spacy/sv_core_news_sm/resolve/main/sv_core_news_sm-3.7.1-py3-none-any.whl
psutil==5.9.6
